var host = 'https://app.mmtcapp.com';


module.exports.absUrl = function (url) {
    if (!url)return 'https://app.mmtcapp.com/mmtch5/images/imageErr.png'
    if (url && url.indexOf('://') === -1) {
        return host + url
    }
    return url
}

module.exports.cashStatus = function (status, status2, is_display) {
    if (is_display == 0 && status == 2) {
        return '已下架';
    }
    if (status > 1 && status == 2) {
        return ['已下架', '已上架'][parseInt(status2)]
    }
    return ['审核中', '审核未通过', '审核通过', '待提交'][parseInt(status)]
}

// 提现状态
module.exports.cashStatus2 = function (status) {
    return ['审核中', '审核通过', '审核未通过', '已打款'][parseInt(status)]
}

module.exports.toScoreAttr = function (score) {
    score = parseInt(score)
    if (score > 5) {
        score = 5;
    }
    var rt = []
    for (var i = 0; i < 5; i++) {
        if (i < score) {
            rt.push(1)
        } else {
            rt.push(0)
        }
    }
    return rt;
}

module.exports.isSealedCategory = function (arr, item) {
    for (var i = 0; i < arr.length; i++) {
        if (item.id === arr[i].id) {
            return true;
        }
    }
    return false;
}

module.exports.money = function (num) {
    return num.toFixed(2);
}

module.exports.verifyCode = function (num) {
    if (!num)return '';
    return num.match(getRegExp('\d{1,4}', 'g')).join(' ');
}

module.exports.shopLabel = function (arr) {
    if (arr && "Array" === arr.constructor) {
        var len = arr.length;
        arr = arr.slice(0, 5);
        return arr.join('、') + (len >= 5 ? '...' : '')
    } else {
        return ''
    }
}

module.exports.encodeURI = function (str) {
    return encodeURIComponent(str)
}
